@import "tailwindcss";

/* :root {
  --background: #FFFFFF;
  --foreground: #14213d;
} */
:root {
  --background: #14213d;
  --foreground: #ffffff;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #14213d;
    --foreground: #FFFFFF;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
  font-weight: 400;
}
